<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeId</key>
		<string>0</string>
		<key>typeName</key>
		<string> +    所有</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>1</string>
		<key>typeName</key>
		<string>🏠  系统组件</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>2</string>
		<key>typeName</key>
		<string>⭐️  自定义组件</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>九宫格解锁</string>
				<key>className</key>
				<string>NineGridPasswordViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeId</key>
		<string>3</string>
		<key>typeName</key>
		<string>👀  视图切换</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>4</string>
		<key>typeName</key>
		<string>🍵  图像处理</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>5</string>
		<key>typeName</key>
		<string>🏡  绘图&amp;动画</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>Core Graphics基本绘图</string>
				<key>className</key>
				<string>BaseCoreGraphicsViewController</string>
				<key>loadType</key>
				<string>code</string>
			</dict>
			<dict>
				<key>labelText</key>
				<string>CaLayer基本示例</string>
				<key>className</key>
				<string>CaLayerBaseViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
			<dict>
				<key>labelText</key>
				<string>CAAnimation基础示例</string>
				<key>className</key>
				<string>AnimationBaseViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeId</key>
		<string>6</string>
		<key>typeName</key>
		<string>⬇️  网络开发</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>11</string>
		<key>typeName</key>
		<string>🌲  数据存储</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>SqlLite测试</string>
				<key>className</key>
				<string>SqlLiteTestViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
			<dict>
				<key>labelText</key>
				<string>CoreData测试</string>
				<key>className</key>
				<string>CoreDataTestViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeId</key>
		<string>7</string>
		<key>typeName</key>
		<string>👂  多线程</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>基础多线程</string>
				<key>className</key>
				<string>KCMainViewController</string>
				<key>loadType</key>
				<string>code</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeId</key>
		<string>8</string>
		<key>typeName</key>
		<string>👐  触摸手势</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>9</string>
		<key>typeName</key>
		<string>🐰  感应器开发</string>
		<key>child</key>
		<array/>
	</dict>
	<dict>
		<key>typeId</key>
		<string>10</string>
		<key>typeName</key>
		<string>🎵  多媒体</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>CD播放器</string>
				<key>className</key>
				<string>CDPlayerViewController</string>
				<key>loadType</key>
				<string>xib</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeId</key>
		<string>11</string>
		<key>typeName</key>
		<string>🐰  Swift示例</string>
		<key>child</key>
		<array>
			<dict>
				<key>labelText</key>
				<string>Swift测试</string>
				<key>className</key>
				<string>SwiftViewController</string>
				<key>loadType</key>
				<string>swift</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
